/* +++++++++++
++ Reset    ++
++++++++++++*/
:root {
  --db-color-red: rgba(250, 0, 0, 0.3);
  --db-color-blue: rgba(0, 0, 250, 0.3);
  --db-color-green: rgba(0, 250, 0, 0.3);
  --space-s: 5px;
  --space-m: 20px;
  --space-l: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

/* +++++++++++
++ Debug    ++
++++++++++++*/

.debug {
  border: 1px dashed red;
  background-color: var(--db-color-green);
  min-height: 20px;
}

/* +++++++++++
++ layout   ++
++++++++++++*/

.container {
  margin: 0px auto;
  /* padding: var(--space-s); */
  width: 90%;
}

.space {
  margin: var(--space-s);
}

.row {
  display: flex;
}
main .row {
  margin: 0 calc(var(--space-m) * -1);
}

.col {
  padding: var(--space-m);
}

.button {
  border-radius: 20px;
  padding: var(--space-s) var(--space-m);
  display: inline-block;
}

.circle {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

/* +++++++++++
++ Section  ++
++++++++++++*/

/* header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #0084fd;
  height: var(--space-l);
  line-height: var(--space-l);
  text-align: center;
  color: white;

  padding: 0 var(--space-m);
}

#header .row {
  justify-content: space-between;
  align-items: center;
}

#header ul {
  display: none;
  list-style: none;
}

#header img {
  height: calc(var(--space-l) - 1rem);
}

/* main */
main {
  margin-top: var(--space-l);
}
section {
  padding: var(--space-m) 0;
}

/* advantages */

#feature .row {
  flex-wrap: wrap;
}
#feature .col {
  width: 100%;
}
#feature .card {
  background-color: #b5ddff;
  color: #5a6e7f;
  text-align: center;
  border-radius: 20px;
}
#feature h2 {
  color: #0084fd;
  margin: var(--space-s) 0;
}
#feature h1 {
  color: #0084fd;
  margin: var(--space-s) 0;
  font-size: 50px;
}
#feature p {
  margin: var(--space-s) 0;
  font-weight: bolder;
}

/* +++++todo */
#img-col {
  align-items: center;
}

#feature .button {
  background-color: #0084fd;
  color: white;
  margin: var(--space-s) 0;
}

#feature img {
  display: block;
}
/* planning */

#planning {
  background-color: #9792e4;
  color: white;

  text-align: center;
}
#planning .container {
  width: 70%;
  margin-bottom: var(--space-l);
}
#planning .row {
  flex-wrap: wrap;
}
#planning .col {
  width: 100%;
  padding: var(--space-l);
}

#planning h1 {
  color: #0084fd;
  margin: var(--space-s) 0;
  font-size: 50px;
}
#planning p {
  margin: var(--space-m) 0;
  font-weight: bolder;
  text-align: left;
}

#planning .card {
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 20px;
}
#planning .card p {
  text-align: center;
  font-style: italic;
  font-weight: 100;
}

#planning .circle {
  width: var(--space-l);
  background-color: #9792e4;
  font-size: var(--space-m);
  text-align: center;
  line-height: var(--space-l);
}

/* testimonials */

.testimonials {
  text-align: center;
}
.testimonials .row {
  flex-wrap: wrap;
  justify-content: space-around;
}
.testimonials .col {
  width: 100%;
  padding: var(--space-s) 0;
}

.testimonials .col.testimonial-photo {
  width: 100%;
}

.testimonials h2 {
  color: #9792e4;
  /* text-align: center; */
}

.testimonials h3 {
  /* text-align: center; */
}

.testimonials .card {
  padding: var(--space-s);
  background-color: #9792e4;
  color: white;
  text-align: center;
  border-radius: 20px;
}

/* +++++++++++
++ Responsive ++
++++++++++++*/

/* il sito è MOBILE FIRST, quindi gestisco le trasformaioni all'aumentare dello schermo */

/* tablet */
@media screen and (min-width: 576px) {
  .debug {
    background-color: var(--db-color-blue);
  }

  #feature .col {
    width: calc(100% / 3);
  }

  #feature .col:nth-child(1) {
    width: calc(2 * (100% / 3));
  }
  .testimonials .card {
    text-align: left;
  }
  .testimonials .card.row {
    flex-wrap: nowrap;
  }
  .testimonials .col.testimonial-photo {
    width: 30%;
  }
}

/* screen */
@media screen and (min-width: 992px) {
  .debug {
    background-color: var(--db-color-red);
  }

  #header #hamburger {
    display: none;
  }
  #header ul {
    display: block;
  }

  #header li {
    display: inline-block;
    list-style: none;
    padding: 0 var(--space-s);
  }
  #header li:hover {
    background-color: white;
    color: #0084fd;
    border-radius: 10px;
  }

  #planning .col {
    width: 50%;
  }
  #planning .card {
    margin-top: calc(var(--space-l) * 2);
  }
}
